#fixedBody{
    background-image: url(../image/fondo.jpeg);
    text-align:center;
}

.jumbotron{
  background-image: url(../image/inicio.jpg);
}

.titulo{
  background-color: rgb(247, 232, 185);
  background-clip: text;
  -webkit-text-stroke: 0.5px black;
  -webkit-text-fill-color:transparent;
  margin-top: 30px;
}

.contenido{
    background-color: rgb(247, 232, 185);
    background-clip: text;
    -webkit-text-stroke: 0.7px black;
    -webkit-text-fill-color:transparent;
    margin-top: 30px;
    font-size: 25px;
}

@media screen and (max-width: 1000px) {
    .demo{
        object-fit: cover;
        height: 120px;
    }
}

*{
    box-sizing: border-box;
}
  
.row > .column {
    padding: 0 8px;
}
  
.row:after {
    content: "";
    display: table;
    clear: both;
}
  
.column {
    float: left;
    width: 25%;
}
  
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
}
  
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    /* width: 85%; */
    max-width: 60%;
}
  
.my-close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}

@media screen and (max-width: 600px) {
    .my-close{
        font-size: 20px;
    }
}
  
.my-close:hover,
.my-close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}
  
.mySlides {
    display: none;
}
  
.cursor {
    cursor: pointer;
}
  
.my-previous,
.my-next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    background-color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

@media screen and (max-width: 1000px) {
    .my-previous,
    .my-next {
        padding: 5px;
        font-size: 10px;
        top: 80%;
        margin-top: -80px;
    }
}

.my-next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
  
.my-previous:hover,
.my-next:hover {
    background-color: grey;
}
  
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
  
img {
    margin-bottom: -4px;
}
  
.caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
}
  
.demo {
    opacity: 0.6;
    width:85%;
}
  
.active,
.demo:hover {
    opacity: 1;
}
  
img.hover-shadow {
    transition: 0.3s;
}
  
.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#logo{
    left: auto;
    right: 0;
    width: 50px;
}

.icono{
    width: 30%;
}

.fondoImagen{
    width: 100%;
}

