.container-fluid{
    background-color: black;
}

.container-fluid{
    background-color: black;
}

#body{
    background-color: black; 
}

#logo{
    width: 40px;
}

p{
    font-family: Arial;
    color: white;
    font-size: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    left: 70px;
    position: absolute; 
}

h3{
    background-color: white;
    background-clip: Text;
    -webkit-text-stroke: 0.5px black;
    -webkit-text-fill-color:transparent;
}